// Modal
$modal-z: 45;
$modal-card-head-border-bottom: none;
$modal-card-foot-border-top: none;
$modal-card-head-background-color: #fff;
$modal-card-body-background-color: #fff;
$modal-background-background-color: rgba(67, 66, 93, 0.452);
$button-focus-box-shadow-size: 0;